<div class="h-screen -z-10  md:justify-start" [style.backgroundImage]='bgStyle'>
    <div class="shadow-container">
        <app-header/>
        <div class="signup-container px-10">
            <div class="signup-card">
                <form [formGroup]="signupForm" (submit)="onSignUp()">
                    <h1 class="heading">Sign Up</h1>
                    <div class="form-field">
                        <input type="text" class="input" name="Email" formControlName="Email" placeholder="Email or Phone number">
                    </div>

                    <div class="form-field">
                        <input type="text" class="input" name="Password" formControlName="Password" placeholder="Password">
                    </div>
                    <div class="form-field">
                        <input type="text" class="input"  name="CPassword" formControlName="CPassword" placeholder="Confirm Password">
                        <span class="text-red-600" [hidden]="!PasswrodMatch">Password not match</span>
                    </div>
                    <div class="action-field">
                        <button type="submit" [disabled]="signupForm.valid" class="signup-btn">Sign Up</button>
                    </div>
                    <div class="flex justify-center my-5">
                        <a routerLink="/login" class="text-red-700 mx-6">Login</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>